@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

body {
    border-block-start: var(--body-border-style, solid) var(--body-border-size, .5rem) var(--body-border-color);
    font-family: var(--font-family-base);
    font-size: var(--text-size-base);
    line-height: var(--leading);
    background: var(--body-background-color);
    color: var(--body-color);
}

.site-content {
    margin-block: var(--site-main-space, var(--space-m));
}

:where(h1, .title-1, h2, .title-2, h3, .title-3) {
    font-family: var(--font-family-heading);
    font-weight: bold;
    line-height: var(--leading-fine);

    & > a {
        text-decoration: none;
    }
}

:is(h1) {
    font-size: var(--font-size-3);
}

:is(h2) {
    font-size: var(--font-size-2);
}

:is(h3) {
    font-size: var(--font-size-1);
}

:is(a[class=""], a:not([class]), a.link) {
    color: var(--link-color);
    text-decoration-color: var(--link-color);
    text-underline-offset: calc(28px / 6);
    text-decoration-thickness: calc(28px / 12);
}
