<footer class="site-footer breakout">
    <p>Built with <a href="https://www.11ty.dev/">Eleventy 3</a> and hosted at <a href="https://www.netlify.com/">Netlify</a>, code is located at <a href="https://github.com/krachot/matthieu.bozec">GitHub</a>.</p>
    <p>&copy; <a href="{{ page.url | absoluteUrl(metadata.url) }}">Matthieu Bozec</a></p>
</footer>
