<header class="site-header">
    <p class="site-title">
        <a href="/">Matthieu Bozec</a>
    </p>

    <nav class="main-menu" aria-label="Menu">
        <ul role="list">
            <li>
                <a href="/">
                    {% icon "home" %}
                    <span class="screen-reader-text">Accueil</span>
                </a>
            </li>
            <li>
                <a href="/bookmarks/">
                    {% icon "link" %}
                    <span class="screen-reader-text">Bookmarks</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
