<header class="site-header">
    <p class="site-title">
        <a href="/" class="site-title__link">
            {% icon "terminal" %}
            <span>Matthieu Bozec</span>
        </a>
    </p>

    <nav class="main-menu" aria-label="Menu">
        <ul role="list">
            {% for item in navigation.main %}
            <li>
                <a href="{{ item.url }}">
                    {{ item.label }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>
