<header class="site-header">
    <p class="site-title">
        <a href="/">
            {% icon "terminal" %}
            <span>Matthieu Bozec</span>
        </a>
    </p>

    <nav class="main-menu" aria-label="Menu">
        <ul role="list">
            <li>
                <a href="/">
                    Accueil
                </a>
            </li>
            <li>
                <a href="/uses">
                    /uses
                </a>
            </li>
            <li>
                <a href="/bookmarks/">
                    Liens
                </a>
            </li>
        </ul>
    </nav>
</header>
