<style>
    .root {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: #FFF;
        padding: 30px;
        border-top: solid 20px #F7A34A;
    }

    .image {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-basis: 180px;
    }

    .image svg {
        width: 150px;
        height: 150px;
    }

    .content {
         display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
    }

    .title {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        text-align: center;
        width: 100%;
        font-size: 120px;
        font-family: 'Ubuntu';
        color: #000;
        margin-bottom: 16px;
        line-height: 1.1;
        transform: rotate(-3deg);
    }

    .title span {
        background: #FFFED9;
        border-bottom: solid 2px #F7A34A;
    }

    .subTitle {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        text-align: center;
        width: 100%;
        font-size: 50px;
        font-family: 'Ubuntu';
        color: #000;
    }

    .lead {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-size: 90px;
    }
</style>
<div class="root">
    <div class="image">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-terminal"><polyline points="4 17 10 11 4 5"></polyline><line x1="12" y1="19" x2="20" y2="19"></line></svg>
    </div>
    <div class="content">
        {% if title and title != '' %}
            <div class="title"><span>{{ title }}</span></div>
            <div class="subTitle">{{ subTitle }}</div>
        {% else %}
            <div class="lead">
                <p style="margin: 0; padding: 0;">Matthieu Bozec</p>
                <p style="margin: 0; padding: 0; font-size: 50px;">Développeur Web Full Stack</p>
            </div>
        {% endif %}
    </div>        
</div>