:root {
    --lch-black: 17.76% 0 0;
    --lch-white: 100% 0 0;
    --lch-navy: 42.44% 0.181 265.64;
    --lch-gold: 78.31% 0.143 64.53;
    --lch-blue: 48.74% 0.113 240.76;
    --lch-yellow: 98.84% 0.04789659014622844 105.9727030591999;
    --lch-purple: 55.08% 0.228 281.81;
    --lch-slate-300: 86.9% 0.02 252.89;
    --lch-slate-700: 37.17% 0.039 257.29;
}
