/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --font-size--2: clamp(0.7813rem, 0.7469rem + 0.1717vi, 0.88rem);
    --font-size--1: clamp(0.9375rem, 0.881rem + 0.2826vi, 1.1rem);
    --font-size-0: clamp(1.125rem, 1.038rem + 0.4348vi, 1.375rem);
    --font-size-1: clamp(1.35rem, 1.2217rem + 0.6413vi, 1.7188rem);
    --font-size-2: clamp(1.62rem, 1.4362rem + 0.919vi, 2.1484rem);
    --font-size-3: clamp(1.944rem, 1.6861rem + 1.2896vi, 2.6855rem);
    --font-size-4: clamp(2.3328rem, 1.9766rem + 1.7811vi, 3.3569rem);
    --font-size-5: clamp(2.7994rem, 2.3135rem + 2.4292vi, 4.1962rem);
}
