.pagination {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    font-size: var(--pagination-font-size, var(--font-size--1));

    .pagination__prev {
        grid-column: 1 / 2;
    }

    .pagination__next {
        grid-column: 2 / 3;
        text-align: end;
    }
}