<!DOCTYPE html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Matthieu Bozec">
    <title>{{metadata.title}} - {{title}}</title>
    <meta name="description" content="{{metadata.description}}">
    <link rel="stylesheet" href="{{ '/assets/css/index.css' | url }}">
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="webmention" href="https://webmention.io/matthieu.bozec.org/webmention">
    <link rel="pingback" href="https://webmention.io/matthieu.bozec.org/xmlrpc">
    <link rel="me" href="https://piaille.fr/@krachot" />
  </head>
  <body class="page-{{ (page.url)|slugify or 'index' }}">
    {% svgsprite %}
    {% include '_header.njk' %}
    <main>
        {{content | safe}}
    </main>
  </body>
</html>
