h1, h2, h3, h4, .text-display {
    font-family: var(--font-family--display);
    font-weight: normal;
}

.text-4 {
    font-size: var(--size-4);
    line-height: 1.1;
    font-weight: var(--font-weight--medium);
}
