---
permalink: '/404.html'
layout: 'default'
title: '404'
eleventyExcludeFromCollections: true
---

<h1 class="title-3">Page non trouvée</h1>

<p>
    Désolé, mais la page demandée n'existe pas.
</p>
<p>
    <a href="{{ metadata.url }}">Retour à l'index du site</a>
</p>    
