---
permalink: '/'
layout: 'base'
title: 'Développeur Back-end - Front-end, Symfony et Wordpress'
tags: page
---

<section class="breakout">
    <div class="intro">
        <header>
            <h1>Matthieu Bozec</h1>
            <h2 class="title-3"><b class="tag">Développeur</b> Full Stack</h2>
        </header>

        <figure>
            {% image "./src/assets/images/tronche.jpg", "", "(max-width: 800px) 23vw, 185px" %}
        </figure>

        <p>
            Depuis plus de 20 ans, je mets mes compétences en matière de développement front et back, de conception et de rédaction technique au service de clients de toutes tailles.
            Mes outils de prédilections sont <b class="tag">Symfony</b> et <b class="tag">Wordpress</b>.
        </p>
        <p>
            Basé à Nouaillé-Maupertuis, proche de Poitiers, je suis actuellement développeur et co-gérant de <a href="https://4h04.io" target="_blank">4h04</a>.
        </p>
        <p>
            Vous avez besoin d'un développeur ou d'une équipe expérimentée pour votre projet ? <a href="mailto:contact@4h04.com">Contactez-moi</a> dès aujourd'hui.
        </p>

        <ul class="icon-list" role="list" aria-label="Moi, ailleurs sur l'Internet">
            <li class="icon-list-item">
                <a href="{{metadata.social.linkedin}}" aria-label="LinkedIn">{% icon "linkedin" %}</a>
            </li>
            <li class="icon-list-item">
                <a href="{{metadata.social.github}}" aria-label="Github">{% icon "github" %}</a>
            </li>
            <li class="icon-list-item">
                <a href="{{metadata.social.mastodon}}" aria-label="Mastodon">{% icon "mastodon" %}</a>
            </li>
            <li class="icon-list-item">
                <a href="{{metadata.social.instagram}}" aria-label="Instagram">{% icon "instagram" %}</a>
            </li>
            <li class="icon-list-item">
                <a href="{{metadata.social.x}}" aria-label="X">{% icon "x" %}</a>
            </li>
        </ul>
    </div>
</section>
