---
permalink: '/'
layout: 'base'
title: 'Matthieu Bozec - Développeur Full Stack - Expert Symfony et Wordpress'
---

<main class="breakout">
    <div class="vcard">
        <header>
            <h1 class="text-5"><a href="{{metadata.url}}" class="url fn">Matthieu Bozec</a></h1>
            <h2 class="text-3 role"><b class="lead">Développeur</b> Full Stack</h2>
        </header>

        <figure>
            {% image "./src/assets/images/tronche.jpg", "", "(max-width: 800px) 23vw, 185px" %}
        </figure>

        <p class="note">
            Depuis plus de 20 ans, je mets mes compétences en matière de développement front et back, de conception et de rédaction technique au service de clients de toutes tailles.
            Mes outils de prédilections sont <b class="lead">Symfony</b> et <b class="lead">Wordpress</b>.
        </p>
        <p>
            <span class="adr">Basé à Nouaillé-Maupertuis, proche de <span class="locality">Poitiers</a></span>, je suis actuellement développeur et co-gérant de <a href="https://4h04.io" target="_blank">4h04</a>.
        </p>
        <p>
            Vous avez besoin d'un développeur ou d'une équipe expérimentée pour votre projet ? <a href="mailto:contact@4h04.com">Contactez-moi</a> dès aujourd'hui.
        </p>

        <ul class="icon-list" role="list" aria-label="Moi, ailleurs sur l'Internet">
            {% for item in social %}
            <li class="icon-list-item">
                <a href="{{ item.url }}" aria-label="{{ item.name }}">{% icon item.icon %}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
