---
permalink: '/index.html'
layout: 'base'
title: 'Développeur Back-end - Front-end, Symfony et Wordpress'
tags: page
---

<div class="image-cover">
    {% image "./src/assets/images/cover.jpg", "", "300px" %}
</div>
