---
title: Uses
layout: default
permalink: /uses/
description: 'Logiciels, outils, machines et services que j''utilise régulièrement'
draft: true
---
<h1 class="lead">Uses</h1>
<p class="text--1">Cette page est inspirée par <a href="https://wesbos.com/uses">Wes Bos'Uses</a> page.</p>

<figure class="popout image-grid">
    {% image "./src/assets/images/desktop.jpg", "", "(max-width: 780px) 100vw, 840px", "aspect-ratio" %}
    {% image "./src/assets/images/desktop.jpg", "", "(max-width: 780px) 50vw, 240px", "aspect-ratio" %}
    {% image "./src/assets/images/desktop.jpg", "", "(max-width: 780px) 50vw, 240px", "aspect-ratio" %}
</figure>

<h2>Hardware</h2>

<ul>
    <li>MacBook Pro 14' M3 Pro black neutral</li>
</ul>

