---
title: '/uses - Matthieu Bozec'
layout: default
permalink: /uses/
description: 'Logiciels, outils, machines et services que j''utilise régulièrement'
ogTitle: 'Uses'
---
<h1 class="lead">Uses</h1>
<p class="text--1">Cette page est inspirée par <a href="https://wesbos.com/uses">Wes Bos'Uses</a> page.</p>

<figure class="popout image-grid">
    {% image "./src/assets/images/desktop.jpg", "", "(max-width: 768px) 100vw, 575px", "aspect-ratio aspect-ratio--4-3" %}
    {% image "./src/assets/images/desktop-alt.jpg", "", "(max-width: 768px) 50vw, 287px", "aspect-ratio aspect-ratio--4-3" %}
    {% image "./src/assets/images/boards-landscape.jpg", "", "(max-width: 768px) 50vw, 287px", "aspect-ratio aspect-ratio--4-3" %}
</figure>

<h2 class="text-1">Workstation</h2>

<ul>
    <li>MacBook Pro 14' M3 Pro black</li>
    <li>PC AMD Ryzen 5 5600X, GeForce RTX 3070, 32 Go DDR4</li>
    <li>Écran Asus PB278QR</li>
    <li>Clavier & Souris Razer Black Window Chroma</li>
    <li>Enceintes Edifier R1280</li>
    <li>iPhone 12 mini</li>
    <li>Flexispot E7 standing desk</li>
</ul>

<h2 class="text-1">Development</h2>

<ul>
    <li>Ubuntu</li>
    <li>Firefox</li>
    <li>PHPStorm</li>
    <li>Visual Code</li>
    <li>Obsidian</li>
    <li>TablePlus</li>
    <li>Slack</li>
    <li>Postman</li>
    <li>Docker</li>
    <li>Shell ohmyzsh</li>
    <li>iTerm 2 on Mac, Terminator on Ubuntu</li>
</ul>

<h2 class="text-1">Services</h2>

<ul>
    <li>Github</li>
    <li>Netlify</li>
    <li>CleverCloud</li>
    <li>Spotify</li>
    <li>1Password</li>
</ul>

<figure class="popout ">
    {% image "./src/assets/images/skateboards.jpg", "", "(max-width: 768px) 100vw, 861px", "aspect-ratio aspect-ratio--16-10" %}
</figure>

<h2 class="text-1">Skateboards</h2>

<ul>
    <li>Santa Cruz 7.5" Marvel Thor</li>
    <li>Cruiser Santa Cruz rainbow tie dye 29"</li>
    <li>Surfskate Carver Firefly 30,25" truck C7</li>
</ul>     
